.tickets{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.ticket{
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background: rgb(215, 215, 245);
    color: black;
    display:flex;
    justify-content: space-around;
    width:40%;
    
    
}

.ticketTop{
    width:50%;
}

.ticketBottom{
    width:50%;
}


.claimButton{
  
    background: rgb(26, 85, 249);
    color:white;
    font-weight: 600;
}

